{% extends 'base.html.twig' %}

{% block title %}Connexion!{% endblock %}

{% block main %}
    <div class="flex flex-row items-center justify-center">
        <div>
            <img src="{{ asset('images/Lurigor500.jpg') }}" alt="Lurigor">
        </div>
        <form method="post" class="bg-black/5 rounded-xl flex flex-col justify-evenly h-96 w-[550px]">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal text-center text-2xl">Veuillez signer</h1>
            <label class="mr-5 ml-5" for="inputEmail">Email</label>
            <input class="mr-5 ml-5 pl-3 border-2 border-secondary" type="email" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required autofocus>
            <label class="mr-5 ml-5" for="inputPassword">Mot de passe</label>
            <input class="mr-5 ml-5 pl-3 border-2 border-secondary" type="password" name="password" id="inputPassword" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
            #}

            <button class="ml-5 mt-3 text-primary bg-secondary rounded-xl hover:bg-yellow-500/95 w-[105px] h-10" type="submit">
                Se Connecter
            </button>
        </form>
    </div>
{% endblock %}
