{% extends 'base.html.twig' %}

{% block title %}OnBoarding-Doctoring{% endblock %}

{% block main %}

    <main class="main mt-40">

        {% if current %}
            <div class="m-5 flex flex-col justify-center items-center shadow-3xl dark:bg-white/5 rounded-xl m-7 p-7">
                <div class="text-3xl font-bold" >{{ current.title }}</div>
                <div>
                    <img src="{{ asset('uploads/cards/' ~ current.card ) }}" alt="courante">
                </div>
                <div class="shadow-inner bg-black/5 dark:bg-white/5 rounded-xl w-full p-5 mt-5 mb-5">{{ current.description }}</div>
                <div class="flex flex-row space-x-52">
                    <div>
                        <div>Annoncée le <span class="font-bold text-xl text-green-500">{{ current.dateDebut | date('d/m/Y') }}</span> à <span class="font-bold text-xl text-green-500">{{ current.dateDebut | date('H:i') }}</span></div>
                        <div>Dernier delai des inscriptions <span class="font-bold text-xl text-red-500">{{ current.dateFin | date('d/m/Y') }}</span> à <span class="font-bold text-xl text-red-500">{{ current.dateFin | date('H:i') }}</span></div>
                    </div>
                    {% if 'ROLE_ADMIN' in app.user.roles %}
                        <div class="flex flex-row">
                            <a href="{{ path("app_edit_current_formation", {"slug": current.slug}) }}">
                                <button class="text-primary flex flex-row justify-center items-center bg-green-400 rounded-xl hover:bg-green-500/95 w-[75px] h-12 mr-5">
                                    <img src="{{ asset('images/edit-file.png') }}" alt="edit" class="w-7 h-7">
                                </button>
                            </a>
                            <a href="{{ path("app_delete_current_formation", {"slug" : current.slug}) }}">
                                <button class="text-primary flex flex-row justify-center items-center bg-red-400 rounded-xl hover:bg-red-500/95 w-[75px] h-12 mr-5">
                                    <img src="{{ asset('images/delete-file.png') }}" alt="delete" class="w-7 h-7">
                                </button>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>

            <a href="{{ path('app_inscription') }}">
                <div class="mb-5 shadow-3xl rounded-xl hover:bg-primary hover:text-secondary dark:bg-white/5 dark:hover:text-black dark:hover:bg-secondary hover:transition-all hover:ease-in-out hover:duration-500 w-44 h-16 relative top-7 left-1/2 -translate-y-1/2 -translate-x-1/2">
                    <div class="flex flex-row items-center text-center justify-center pt-1.5">Inscrivez-vous maintenant!!</div>
                </div>
            </a>
        {% else %}
            <div class="relative m-5 w-1/2 small:p-5 relative small:top-24 left-1/2 small:-translate-y-1/4 translate-y-1/4 -translate-x-1/2 h-80 small:h-64 shadow-3xl rounded-xl dark:border-2 dark:border-blue-600 flex flex-col justify-evenly items-center">
                <p class="text-xl text-center small:text-xs font-bold hover:text-blue-600">Pas de formation pour le moment...</p>
                <img src="{{ asset('images/no-task.png') }}" alt="Vide Pour le moment" class="w-16 h-16 small:w-10 small:h-10 absolute -top-5 -right-7 small:-right-2 small:-top-5 -rotate-45">
                <img src="{{ asset('images/hour-glass.png') }}" alt="en attente" class="w-20 h-20 small:w-16 small:h-16 animate-rotation relative">
            </div>

            <div class="h-7 mt-7"></div>
        {% endif %}

    </main>

{% endblock %}
