{% extends 'base.html.twig' %}

{% block title %}Inscription!{% endblock %}

{% block main %}
    <div class="flex flex-row items-center justify-center space-x-16 small:flex-col small:justify-between">
        <div>
            <img src="{{ asset('images/Lurigor500.jpg') }}" alt="Lurigor" class="mt-5 mb-5 rounded-xl">
        </div>
        {{ form_start(registrationForm, {
            'attr' : {
                'class': 'ml-16 mr-16 h-[500px] w-[550px] small:w-[350px] rounded-xl shadow-3xl dark:bg-white/5'
            }
        }) }}

        <div class="p-5">
            <h1 class="text-center text-2xl mb-5">Inscrivez vous</h1>
            {{ form_row(registrationForm.email, {
                label: 'Adresse Mail',
                'attr': {
                    'class': 'bg-black/5 justify-between p-2 focus:outline-none shadow-inner rounded-xl dark:border-2 dark:border-secondary w-full'
                }
            }) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe',
                'attr': {
                    'class': 'bg-black/5 justify-between p-2 focus:outline-none shadow-inner rounded-xl dark:border-2 dark:border-secondary w-full'
                }
            }) }}
            {{ form_row(registrationForm.username, {
                label: 'Nom d\'utilisateur',
                'attr': {
                    'class': 'bg-black/5 justify-between p-2 focus:outline-none shadow-inner rounded-xl dark:border-2 dark:border-secondary w-full'
                }
            }) }}
            <div class="mb-6">
                <label>Termes et conditions</label>
                {{ form_widget(registrationForm.agreeTerms) }}
            </div>

            <button type="submit" class="mt-5 small:text-sm text-primary bg-secondary rounded-xl hover:bg-[#D19900] w-[125px] h-10 font-bold">S'inscrire</button>
        </div>

        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
