{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1 class="text-center mt-16 text-2xl">Register</h1>

    {{ form_start(registrationForm, {
        'attr' : {
            'class': 'ml-16 mr-16 border-2 border-black h-96 absolute top-0 right-0 left-0 bottom-0 m-auto'
        }
    }) }}

    <div class="p-5">
        {{ form_row(registrationForm.email, {
            label: 'Adresse Mail',
            'attr': {
                'class': 'mb-5 flex flex-row justify-between pl-2 border-2 border-secondary'
            }
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe',
            'attr': {
                'class': 'mb-5 flex flex-row justify-between pl-2 border-2 border-secondary'
            }
        }) }}
        {{ form_row(registrationForm.username, {
            label: 'Nom d\'utilisateur',
            'attr': {
                'class': 'mb-5 flex flex-row justify-between pl-2 border-2 border-secondary'
            }
        }) }}
        {{ form_row(registrationForm.agreeTerms, {
            'attr': {
                'class': 'mb-10 flex flex-row justify-between'
            }
        }) }}

        <button type="submit" class="mt-3 text-primary bg-secondary rounded-xl hover:bg-yellow-500/95 w-[75px] h-10">Register</button>
    </div>

    {{ form_end(registrationForm) }}
{% endblock %}
