{% extends 'base.html.twig' %}

{% block title %}Inscription!{% endblock %}

{% block main %}
    <div class="flex flex-row items-center justify-center sm:flex-col sm:justify-between">
        <div>
            <img src="{{ asset('images/Lurigor500.jpg') }}" alt="Lurigor" class="mt-5">
        </div>
        {{ form_start(registrationForm, {
            'attr' : {
                'class': 'ml-16 mr-16 h-96 w-[550px] rounded-xl shadow-3xl'
            }
        }) }}

        <div class="p-5">
            <h1 class="text-center text-2xl">Inscrivez vous</h1>
            {{ form_row(registrationForm.email, {
                label: 'Adresse Mail',
                'attr': {
                    'class': 'mb-5 flex flex-row justify-between pl-2 border-2 border-secondary w-full'
                }
            }) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe',
                'attr': {
                    'class': 'mb-5 flex flex-row justify-between pl-2 border-2 border-secondary w-full'
                }
            }) }}
            {{ form_row(registrationForm.username, {
                label: 'Nom d\'utilisateur',
                'attr': {
                    'class': 'mb-5 flex flex-row justify-between pl-2 border-2 border-secondary w-full'
                }
            }) }}
            {{ form_row(registrationForm.agreeTerms, {
                'attr': {
                    'class': 'mb-7 flex flex-row justify-between'
                }
            }) }}

            <button type="submit" class="text-primary bg-secondary rounded-xl hover:bg-yellow-500/95 w-[85px] h-10">S'inscrire</button>
        </div>

        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
