{% extends 'base.html.twig' %}

{% block title %}Fil des événements{% endblock %}

{% block main %}

    <main class="main mt-40">
        <div class="m-5 h-screen">
            <div class="grid grid-cols-3 small:grid-cols-1 gap-5 justify-evenly" id="container">
                {% for event in events %}
                    <div class="shadow-3xl dark:border-2 dark:border-secondary rounded-xl mb-10 hover:-translate-y-1.5 hover:transition-all hover:ease-in-out hover:duration-300 hidden box">
                        <div class="p-5 flex flex-col justify-between">
                            <div class="text-center text-3xl font-bold">
                                <em>{{ event.title }}</em>
                            </div>
                            <div class="flex flex-col justify-between items-center text-center">
                                <div>{{ event.description }}</div>
                                <div class="mt-9 mb-9">
                                    <img src="{{ asset('uploads/fiches/' ~ event.fiche) }}" alt="{{ event.title }}" class="w-[342px] h-[485px]">
                                </div>
                            </div>
                            <div class="flex flex-row justify-evenly">
                                <div class="text-2xl underline">{{ event.droppedAt | date('d/m/Y') }} à {{ event.droppedAt | date('H:i') }}</div>
                            </div>
                        </div>
                        <hr>
                        <div class="p-5 flex flex-row justify-center items-center">
                            <div>
                                <a href="{{ asset(event.programme, 'programmes') }}" target="_blank">
                                    <button class="dark:text-black dark:bg-thirdly flex flex-row justify-center items-center font-bold text-primary bg-secondary rounded-xl hover:bg-[#D19900] w-[75px] h-12 mr-5 text-center small:text-sm">
                                        <img src="{{ asset('images/search.png') }}" alt="acces" class="w-7 h-7">
                                    </button>
                                </a>
                            </div>
                            {% if 'ROLE_ADMIN' in app.user.roles %}
                                <a href="{{ path("app_edit_event", {"slug" : event.slug}) }}" target="_blank">
                                    <button class="text-primary flex flex-row justify-center items-center bg-green-400 rounded-xl hover:bg-green-500/95 w-[75px] h-12 mr-5">
                                        <img src="{{ asset('images/edit-file.png') }}" alt="edit" class="w-7 h-7">
                                    </button>
                                </a>
                                <a href="{{ path("app_delete_event", {"slug" : event.slug}) }}" target="_blank">
                                    <button class="text-primary flex flex-row justify-center items-center bg-red-400 rounded-xl hover:bg-red-500/95 w-[75px] h-12 mr-5">
                                        <img src="{{ asset('images/delete-file.png') }}" alt="delete" class="w-7 h-7">
                                    </button>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="items-center text-center mb-7 mt-7" id="loader-container">
                <button id="load-more" class="hidden small:text-xs small:w-[125px] small:h-11 dark:bg-secondary font-bold p-2 text-black bg-white hover:rounded-xl w-[175px] h-16 mr-5 mt-0 shadow-3xl hover:transition-all hover:ease-in-out hover:duration-700">
                    Afficher plus
                </button>
            </div>
            {% if 'ROLE_ADMIN' in app.user.roles %}
                <div class="items-center text-center mb-7 mt-7">
                    <a href="{{ path("app_new_event") }}" target="_blank">
                        <button class="dark:bg-secondary small:text-xs small:w-[135px] small:h-12 font-bold p-2 text-black bg-white hover:rounded-xl w-[175px] h-16 mr-5 mt-0 shadow-3xl hover:transition-all hover:ease-in-out hover:duration-700">
                            Ajouter Un Nouveau Événement
                        </button>
                    </a>
                </div>
            {% endif %}
            <div class="w-full h-7"></div>
        </div>
    </main>

{% endblock %}
