{% extends 'base.html.twig' %}

{% block title %}Nos Ouvrages{% endblock %}

{% block main %}

    <main class="main">
        <div class="m-5 h-screen">
            <div class="grid grid-cols-3 small:grid-cols-1 gap-5 justify-evenly">
                {% for ouvrage in ouvrages %}
                    <div class="shadow-3xl dark:border-2 dark:border-secondary rounded-xl mb-10 hover:translate-y-1.5 hover:transition-all hover:ease-in-out hover:duration-300">
                        <div class="p-5 flex flex-row justify-between">
                            <div>{{ ouvrage.title }}</div>
                            <div>{{ ouvrage.createdAt | date('d/m/Y') }} à {{ ouvrage.createdAt | date('H:i') }}</div>
                        </div>
                        <div class="p-5 flex flex-row justify-center items-center">
                            <a class="text-xs font-bold" href="{{ path("app_ouvrage", {"slug" : ouvrage.slug}) }}">
                                <button class="dark:text-black dark:bg-thirdly text-primary bg-secondary rounded-xl hover:bg-yellow-500/95 w-[95px] h-12 mr-5">
                                    Accès au fichier de L'Ouvrage
                                </button>
                            </a>
                            {% if 'ROLE_ADMIN' in app.user.roles %}
                                <a href="{{ path("app_edit_ouvrage", {"slug" : ouvrage.slug}) }}" target="_blank">
                                    <button class="text-primary bg-green-400 rounded-xl hover:bg-green-500/95 w-[85px] h-12 mr-5">
                                        <i class="fa-solid fa-file-pen text-4xl small:text-sm"></i>
                                    </button>
                                </a>
                                <a href="{{ path("app_delete_ouvrage", {"slug" : ouvrage.slug}) }}" target="_blank">
                                    <button class="text-primary bg-red-400 rounded-xl hover:bg-red-500/95 w-[85px] h-12 mr-5">
                                        <i class="fa-solid fa-square-minus text-4xl small:text-sm"></i>
                                    </button>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if 'ROLE_ADMIN' in app.user.roles %}
                <div class="mt-16 items-center text-center">
                    <button class="dark:bg-secondary dark:text-black font-bold p-2 text-thirdly bg-primary rounded-xl hover:bg-cyan-800/95 w-[165px] h-16 mr-5 small:w-[120px] small:h-12 small:text-xs"><a href="{{ path("app_new_ouvrage") }}" target="_blank">Ajouter Un Nouveau Ouvrage</a></button>
                </div>
            {% endif %}

        </div>
    </main>

{% endblock %}
