{% extends 'base.html.twig' %}

{% block title %}Nos Ouvrages{% endblock %}

{% block main %}

    <main class="main mt-40">
        <div class="m-5 h-screen">
            <div class="grid grid-cols-3 small:grid-cols-1 gap-5 justify-evenly">
                {% for ouvrage in ouvrages %}
                    <div class="shadow-3xl dark:border-2 dark:border-secondary rounded-xl mb-10 hover:translate-y-1.5 hover:transition-all hover:ease-in-out hover:duration-300">
                        <div class="p-5 flex flex-row justify-between">
                            <div>{{ ouvrage.title }}</div>
                            <div>{{ ouvrage.createdAt | date('d/m/Y') }} à {{ ouvrage.createdAt | date('H:i') }}</div>
                        </div>
                        <div class="p-5 flex flex-row justify-center items-center">
                            <a class="text-xs font-bold" href="{{ path("app_ouvrage", {"slug" : ouvrage.slug}) }}">
                                <button class="dark:text-black dark:bg-thirdly flex flex-row justify-center items-center text-primary bg-secondary rounded-xl hover:bg-[#D19900] w-[75px] h-12 mr-5">
                                    <img src="{{ asset('images/access.png') }}" alt="delete" class="w-7 h-7">
                                </button>
                            </a>
                            {% if 'ROLE_ADMIN' in app.user.roles %}
                                <a href="{{ path("app_edit_ouvrage", {"slug" : ouvrage.slug}) }}" target="_blank">
                                    <button class="text-primary bg-green-400 flex flex-row justify-center items-center rounded-xl hover:bg-green-500/95 w-[75px] h-12 mr-5">
                                        <img src="{{ asset('images/edit-file.png') }}" alt="edit" class="w-7 h-7">
                                    </button>
                                </a>
                                <a href="{{ path("app_delete_ouvrage", {"slug" : ouvrage.slug}) }}" target="_blank">
                                    <button class="text-primary bg-red-400 flex flex-row justify-center items-center rounded-xl hover:bg-red-500/95 w-[75px] h-12 mr-5">
                                        <img src="{{ asset('images/delete-file.png') }}" alt="delete" class="w-7 h-7">
                                    </button>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if 'ROLE_ADMIN' in app.user.roles %}
                <a href="{{ path("app_new_ouvrage") }}" target="_blank">
                    <div class="items-center text-center">
                        <button class="dark:bg-secondary text-black font-bold p-2 hover:bg-primary hover:text-secondary dark:hover:text-primary w-[165px] h-16 mr-5 rounded-xl shadow-3xl">
                            Ajouter Un Nouveau Ouvrage
                        </button>
                    </div>
                </a>
            {% endif %}

        </div>
    </main>

{% endblock %}
