{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}

    <div class="m-5">
        <div class="border-2 border-secondary">
            <div class="p-5">
                <div class="text-center text-2xl">{{ article.title }}</div>
                <div class="text-center">Dans la category <em class="text-center font-bold">{{ article.category }}</em></div>
                <div class="flex flex-row justify-between">
                    <div>Ecrit par <span class="text-xl font-bold">{{ article.author }}</span></div>
                    <div>Le <span class="text-xl font-bold">{{ article.createdAt | date('d/m/Y') }}</span> à <span class="text-xl font-bold">{{ article.createdAt | date('H:i') }}</span></div>
                </div>
                <div class="m5">
                    <p>{{ article.content }}</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
