{% extends 'base.html.twig' %}

{% block title %}LURIGOR Article : {{ article.title }}{% endblock %}

{% block main %}

    <main class="main mt-40">
        <div class="m-5">
            <div class="relative rounded-xl shadow-3xl dark:bg-white/5">
                <img src="{{ asset('images/attachment.png') }}" alt="article" class="w-16 h-16 small:w-10 small:h-10 absolute -top-5 -right-2 small:-right-2 small:-top-5">
                <div class="p-5">
                    <div class="text-center text-2xl">{{ article.title }}</div>
                    <div class="text-center">Dans la category <em class="text-center font-bold">{{ article.category }}</em></div>
                    <div class="flex flex-row justify-between">
                        <div>Ecrit par <span class="text-xl font-bold">{{ article.author.username }}</span></div>
                        <div>Le <span class="text-xl font-bold">{{ article.createdAt | date('d/m/Y') }}</span> à <span class="text-xl font-bold">{{ article.createdAt | date('H:i') }}</span></div>
                    </div>
                    <div class="p-2.5 shadow-inner rounded-xl bg-black/5 dark:bg-white/10 my-3 small:text-sm overflow-hidden overflow-x-scroll">
                        {{ article.content | raw }}
                    </div>
                    <hr class="mt-7 mb-7 font-bold">
                    <div>
                        {{ form_start(form, {
                            'attr' : {
                                'class': 'ml-16 mr-16'
                            }
                        }) }}
                        {{ form_row(form.content, {
                            label: 'Laissez Un Commentaire',
                            'attr': {
                                'placeholder': 'Bon Article...',
                                'class': 'mb-5 flex flex-row justify-between pl-2 border-2 border-secondary w-full'
                            }
                        }) }}
                        <button type="submit" class="mt-3 text-primary bg-secondary rounded-xl hover:bg-[#D19900] w-[85px] h-10"><i class="fa-solid fa-check"></i></button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}
