{% extends 'base.html.twig' %}

{% block title %}Formation doctorale{% endblock %}

{% block main %}

    <main class="main mt-40 small:mt-32">

        <h2 class="mt-5 text-3xl text-center text-primary dark:text-secondary">OnBoarding Doctoring!!!</h2>

        <div class="shadow-3xl rounded-xl dark:bg-white/25 ml-7 mr-7 mt-7 p-3">
            <p class="m-7">
                Le <span>Onboarding doctoring</span> est un dispositif de formation doctorale qui aide les doctorant(e)s à trouver leur place dans le domaine de la recherche pour faire pleinement partie d’un environnement scientifique de haut niveau.
                Il est destiné à favoriser le développement des compétences et le développement personnel et professionnel des futurs docteurs aptes à s’inscrire dans les environnements sociaux du travail, à mobiliser les compétences adéquates et à développer des capacités qui sécurisent leur parcours et leur vaillent d’être reconnus académiquement et professionnellement.
            </p>
        </div>

        <div class="flex flex-row small:flex-col small:mt-60 h-96 items-center text-center justify-evenly centred">
            <a href="{{ path('app_archives_formations') }}" class="hover:rounded-xl hover:shadow-3xl dark:hover:bg-white/30">
                <div class="w-52 h-60 p-5 flex flex-col justify-between small:w-40 small:h-52">
                    <div class="items-center text-center">
                        <img src="{{ asset('images/archive.png') }}" alt="archives">
                    </div>
                    <div>Anciennes éditions</div>
                </div>
            </a>
            <a href="{{ path('app_formation_courante') }}" class="hover:rounded-xl hover:shadow-3xl dark:hover:bg-white/30">
                <div class="w-52 h-60 p-5 flex flex-col justify-between small:w-40 small:h-52">
                    <div class="items-center text-center">
                        <img src="{{ asset('images/la-formation-yell.png') }}" alt="current-formation">
                    </div>
                    <div>Édition courante</div>
                </div>
            </a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('app_results') }}" class="hover:rounded-xl hover:shadow-3xl dark:hover:bg-white/30">
                    <div class="w-52 h-60 p-5 flex flex-col justify-between small:w-40 small:h-52">
                        <div class="items-center text-center">
                            <img src="{{ asset('images/formulaire-dinscription.png') }}" alt="résultats">
                        </div>
                        <div>Résultats</div>
                    </div>
                </a>
                <a href="{{ path('app_new_edition') }}" class="hover:rounded-xl hover:shadow-3xl dark:hover:bg-white/30">
                    <div class="w-52 h-60 p-5 flex flex-col justify-between small:w-40 small:h-52">
                        <div class="items-center text-center">
                            <img src="{{ asset('images/bookmark.png') }}" alt="new-formation">
                        </div>
                        <div>Lancer nouvelle édition</div>
                    </div>
                </a>
            {% endif %}
        </div>

    </main>

{% endblock %}
