<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/Lurigor.jpg') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link rel="stylesheet" href="{{ asset('styles/scrollbar.css') }}">
        <link rel="stylesheet" href="{{ asset('node_modules/@fortawesome/fontawesome-free/css/all.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('scrollbar') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="dark:bg-primary dark:text-white transition-colors duration-300 flex flex-col flex-grow justify-between overflow-x-hidden h-full">
        {% if app.user %}
        <header class="fixed bg-secondary w-screen h-24 top-0 z-20 small:w-screen small:h-20 flex flex-row justify-between" id="nav1">
            <div class="flex flex-row justify-between w-1/2">
                <div class="flex flex-row">
                    <img src="{{ asset('images/output-onlinepngtools.png') }}" alt="UMP">
                    <img src="{{ asset('images/lurigor-bg-none.png') }}" alt="LURIGOR" class="w-40">
                </div>
            </div>
            <div class="justify-content-center w-1/2 text-center items-center">
                <button id="btn" class="absolute top-1/3 right-7 small:right-4 w-10 h-5 rounded-2xl bg-white flex items-center transition duration-500 focus:outline-none">
                    <div id="switch-toggle" class="w-6 h-6 relative rounded-full transition duration-500 transform bg-thirdly -translate-x-2 text-white">
                        <i class="fa-solid fa-lightbulb text-primary"></i>
                    </div>
                </button>
            </div>
        </header>
        <nav class="fixed dark:border-b-2 dark:border-b-thirdly bg-primary h-16 w-screen flex flex-row justify-between top-24 z-20 small:h-10 small:top-20" id="nav2">
            <div class="text-center pt-2 ml-5 small:pt-1.5">
                <div id="user" class="flex flex-row">
                    {% if app.user.profile %}
                        <img src="{{ asset('uploads/profiles/' ~ app.user.profile) }}" alt="profile" class="rounded-full w-[50px] h-[50px] small:w-[32px] small:h-[32px]">
                    {% else %}
                        <i class="md:mt-1.5 fa-solid fa-circle-user text-3xl text-thirdly small:text-2xl"></i>
                    {% endif %}
                    <span class="md:ml-1 md:mt-0.5 text-center text-lg text-white small:p-1.5 md:p-2 font-bold small:text-sm">{{ app.user.username }}</span>
                    <button id="arrow" class="w-7 h-7 small:w-5 small:h-5 mt-3 small:mt-2 transition-all ease-in-out duration-300">
                        <img src="{{ asset('images/down-arrow.png') }}" alt="arrow">
                    </button>
                </div>
                <div class="bg-secondary w-60 h-32 rounded-xl transition-all ease-in-out duration-500 invisible" id="user-modal">
                    <ul class="flex flex-col justify-between p-5">
                        <li>
                            <a href="{{ path("app_logout") }}" class="flex flex-row justify-between">
                                <span class="hover:border-2 hover:border-black hover:transition-all hover:ease-in-out hover:duration-300 hover:rounded-md hover:bg-[#D19900] p-1 font-bold text-base xl:text-sm">Déconnexion</span>
                                <i class="fa-solid fa-right-from-bracket pt-[8px] text-primary"></i>
                            </a>
                        </li>
                        <hr class="mt-2 mb-2">
                        <li>
                            <a href="{{ path("app_user_stuffs", {"username": app.user.username}) }}" target="_blank" class="flex flex-row justify-between">
                                <span class="hover:border-2 hover:border-black hover:transition-all hover:ease-in-out hover:duration-300 hover:rounded-md hover:bg-[#D19900] p-1 font-bold text-base xl:text-sm">Réglages</span>
                                <i class="fa-solid fa-gear pt-[8px] text-primary"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <ul id="nav_ul" class="flex flex-row justify-evenly h-16 w-screen small:justify-end small:mr-5 small:mt-2">
                <li class="md:hidden small:visible small:text-white">
                    <button id="MenuBtnForSmall"><i class="fa-solid fa-bars small:text-lg"></i></button>
                </li>
                <li data-common="items" class="hover:text-[#D19900] text-secondary text-lg text-center pt-3.5 xl:text-sm sm:text-xs small:hidden"><a href="{{ path("app_accueil") }}">Accueil</a></li>
                <li data-common="items" class="hover:text-[#D19900] text-secondary text-lg text-center pt-3.5 xl:text-sm sm:text-xs small:hidden"><a href="{{ path("app_us") }}">Qui sommes nous?</a></li>
                <li data-common="items" class="hover:text-[#D19900] text-secondary text-lg text-center pt-3.5 xl:text-sm sm:text-xs small:hidden"><a href="{{ path("app_pub") }}">Publications scientifiques</a></li>
                <li data-common="items" class="hover:text-[#D19900] text-secondary text-lg text-center pt-3.5 xl:text-sm sm:text-xs small:hidden"><a href="{{ path("app_manifestation") }}">Manifestations scientifiques</a></li>
                <li data-common="items" class="hover:text-[#D19900] text-secondary text-lg text-center pt-3.5 xl:text-sm sm:text-xs small:hidden"><a href="{{ path("app_formation_doctorale") }}">Onboarding doctoring</a></li>
                <li data-common="items" class="hover:text-[#D19900] text-secondary text-lg text-center pt-3.5 xl:text-sm sm:text-xs small:hidden"><a href="{{ path("app_themes") }}">Groupes d'intérêt thématique</a></li>
            </ul>
        </nav>
        <div id="menu">
            <div id="myModal" class="modal hidden">
                <div class="modal-content">
                    <div>
                        <div class="flex flex-row justify-end">
                            <button class="close">&times;</button>
                        </div>
                        <ul>
                            <li><a class="text-blue-500 hover:text-primary dark:text-white dark:hover:text-blue-400" href="{{ path("app_accueil") }}">Accueil</a></li>
                            <div class="border-b-4 border-primary dark:border-secondary"></div>
                            <br>
                            <li><a class="text-blue-500 hover:text-primary dark:text-white dark:hover:text-blue-400" href="{{ path("app_us") }}">Qui sommes nous?</a></li>
                            <div class="border-b-4 border-primary dark:border-secondary"></div>
                            <br>
                            <li><a class="text-blue-500 hover:text-primary dark:text-white dark:hover:text-blue-400" href="{{ path("app_pub") }}">Publications scientifiques</a></li>
                            <div class="border-b-4 border-primary dark:border-secondary"></div>
                            <br>
                            <li><a class="text-blue-500 hover:text-primary dark:text-white dark:hover:text-blue-400" href="{{ path("app_manifestation") }}">Manifestations scientifiques</a></li>
                            <div class="border-b-4 border-primary dark:border-secondary"></div>
                            <br>
                            <li><a class="text-blue-500 hover:text-primary dark:text-white dark:hover:text-blue-400" href="{{ path("app_formation_doctorale") }}">Onboarding doctoring</a></li>
                            <div class="border-b-4 border-primary dark:border-secondary"></div>
                            <br>
                            <li><a class="text-blue-500 hover:text-primary dark:text-white dark:hover:text-blue-400" href="{{ path("app_themes") }}">Groupes d'intérêt thématique</a></li>
                            <div class="border-b-4 border-primary dark:border-secondary"></div>
                            <br>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
            <header class="bg-white dark:bg-primary shadow-3xl h-24 w-screen flex flex-row justify-between fixed z-30">
                <div>
                    <img class="h-[95px]" src="{{ asset('images/ump.jpg') }}" alt="UMP-FSJES">
                </div>
                <div class="flex flex-row justify-end small:justify-between items-center pr-10">
                    <a href="{{ path("app_login") }}">
                        <button class="small:mr-1 small:w-[80px] small:h-7 small:text-xs font-bold mr-5 text-primary bg-secondary rounded-xl hover:bg-[#D19900] font-bold w-[125px] h-10">
                            Connexion
                        </button>
                    </a>
                    <a href="{{ path("app_register") }}">
                        <button class="small:mr-1 small:w-[80px] small:h-7 small:text-xs font-bold mr-5 text-primary bg-secondary rounded-xl hover:bg-[#D19900] w-[125px] h-10">
                            Inscription
                        </button>
                    </a>
                </div>
            </header>
            <header class="bg-secondary h-44 flex flex-row justify-end items-end">
                <div class="justify-content-center w-12 text-center items-center mb-7 mr-14">
                    <button id="btn" class="top-1/3 right-7 small:right-4 w-10 h-5 rounded-2xl bg-white items-center transition duration-300 focus:outline-none">
                        <div id="switch-toggle" class="w-6 h-6 relative rounded-full transition duration-500 transform bg-thirdly -translate-x-2 text-white">
                            <i class="fa-solid fa-lightbulb text-primary"></i>
                        </div>
                    </button>
                </div>
            </header>
        {% endif %}
        {% block main %}{% endblock %}
            <footer class="flex flex-col mt-2 text-center items-center justify-center dark:bg-secondary dark:text-black h-16 small:text-sm">
                Copyright © LURIGOR {{ "now" | date('Y') }}. Tous les droits sont réservés.
            </footer>
            <!-- Made By Zakariae Bouklah : https://zakariaebouklah.github.io/ -->
        {% block footer %}{% endblock %}
    </body>
</html>
