{% extends 'base.html.twig' %}

{% block title %}LURIGOR Thème : {{ topic.title }}{% endblock %}

{% block main %}

    <main class="main">
        <div class="m-5">
            {% if topic %}
                <div class="shadow-3xl dark:border-2 dark:border-secondary rounded-xl">
                    <div class="p-5">
                        <div class="text-center text-3xl font-bold mb-3">{{ topic.title }}</div>
                        <div class="text-center">Dans le Projet <em class="text-center font-bold">{{ topic.project }}</em></div>
                        <div class="flex flex-row justify-between">
                            <div class="w-full text-center">Déposé Le <span class="text-xl font-bold">{{ topic.createdAt | date('d/m/Y') }}</span> à <span class="text-xl font-bold">{{ topic.createdAt | date('H:i') }}</span></div>
                        </div>
                        <div class="ml-5 mr-5 mt-7 mb-7">
                            <p>{{ topic.content | raw }}</p>
                        </div>
                    </div>
                    <hr>
                    <div>
                        <p class="text-center text-2xl text-green-500 font-bold mt-5 mb-5">Interactions</p>
                        <div class="flex flex-col m-5" id="comment-list">
                            {% for comment in all_comments %}
                                {% include 'topic/brandTopicComment.html.twig' %}
                            {% endfor %}
                        </div>
                    </div>
                    <hr>
                    {% if app.user in topic.members %}
                        <div>
                            {{ form_start(form, {
                                'attr' : {
                                    'class': 'ml-16 mr-16 mt-5',
                                    'id': 'comment-topic-form'
                                }
                            }) }}
                            <label class="text-blue-500 text-base font-bold">Votre intervention</label>
                            {{ form_widget(form.content, {
                                'attr': {
                                    'placeholder': 'C\'est vrai que... mais pourtant...',
                                    'class': 'mb-5 flex flex-row justify-between pl-2 border-2 border-secondary w-full'
                                }
                            }) }}
                            <button type="submit" class="mt-3 mb-3 text-primary bg-secondary rounded-xl hover:bg-yellow-500/95 w-[75px] h-10 js-add-comment">
                                <i class="fa-solid fa-check"></i>
                            </button>
                            {{ form_end(form) }}
                        </div>
                    {% endif %}
                </div>
            {% else %}
                <div>
                    <p class="text-center text-2xl text-green-500 font-bold mt-5 mb-5">Interactions</p>
                    <div class="flex flex-col m-5" id="comment-list">
                        {% for comment in all_comments %}
                            {% include 'topic/brandTopicComment.html.twig' %}
                        {% endfor %}
                    </div>
                </div>
                <hr>
                <div>
                    {{ form_start(form, {
                        'attr' : {
                            'class': 'ml-16 mr-16 mt-5',
                            'id': 'comment-topic-form'
                        }
                    }) }}
                    <label class="text-blue-500 text-base font-bold">Modification</label>
                    {{ form_widget(form.content, {
                        'attr': {
                            'placeholder': 'C\'est vrai que... mais pourtant...',
                            'class': 'mb-5 flex flex-row justify-between pl-2 border-2 border-secondary w-full'
                        }
                    }) }}
                    <button type="submit" class="mt-3 mb-3 text-primary bg-secondary rounded-xl hover:bg-yellow-500/95 w-[75px] h-10 js-add-comment">
                        <i class="fa-solid fa-check"></i>
                    </button>
                    {{ form_end(form) }}
                </div>
            {% endif %}
        </div>
    </main>

{% endblock %}
